.primary {
    height: auto;
    font-weight: bold;
    margin: 0px 0px;
    padding: 0px 0px;
    &.active {
        background-color: #1FA1FF;
        color: #FFFFFF;
    }

    &.inactive {
        background-color: #1FA1FF;
        color: #FFFFFF;
    }
}

.secondary {
    height: auto;
    font-weight: bold;
    margin: 0px 0px;
    padding: 0px 0px;
    &.active {
        background-color: #EFEFEF;
        color: #000000;
    }

    &.inactive {
        background-color: transparent;
        color: #FFFFFF;
    }
}

.s {
    width: 105px;
}

.m {
    width: 161px;
}

.l {
    width: 328px;
}
.xl {
    width: 366px;
}
.sm {
    min-width: 32px;
    height: 30px;
}
